{{- $src := .Get 0 -}}
{{- $page := .Get 1 | default "1" -}}
{{- $zoom := .Get 2 | default "page-width" -}}
{{- $mode := .Get 3 | default "none" -}}

<div style="position:relative; padding-bottom:120%; height:0; overflow:hidden; max-width:100%;">
  <iframe 
    src="/{{ $src }}#page={{ $page }}&zoom={{ $zoom }}&pagemode={{ $mode }}" 
    style="position:absolute; top:0; left:0; width:100%; height:100%; border:none;"
    frameborder="0">
      This browser does not support PDFs.
      Please download the PDF to view it:
      <a href="/{{ $src }}">Download PDF</a>.
  </iframe>
</div>